<!DOCTYPE html>
<html>

  <head>
    <title>Redis GUI</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo center">Disconnected</a>
      </div>
    </nav>
    <div id="db-container"></div>
    <ul></ul>
    <script src="../scripts/mainWindow.js"></script>
  </body>
  
</html>