<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Connect to Redis DB</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <style>
      body, div, p {
        margin: 0
      }
      
      p {
        word-wrap: break-word;
      }
      
    </style>
  </head>

  <body>
    <div class="container">
      <p class="flow-text" id="item-content"></p>
    </div>

    <script src="../scripts/openItemWindow.js"></script>
  </body>
  
</html>